/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.mensaje {
    animation: fadeOut 1s ease-out 4s forwards;
}

@keyframes fadeOut {
    to { opacity: 0; display: none; }
}

/* Colores personalizados */
.mensaje.exito { color: green; }
.mensaje.alerta { color: orange; }
.mensaje.error { color: red; }


/* Los @keyframes son una regla de CSS que permite crear animaciones personalizadas definiendo cómo un elemento debe cambiar sus estilos a lo largo de una secuencia de tiempo. Se usan junto con la propiedad animation, como por ejemplo, fadeOut */

