@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* Fuentes Globales */
    --fuente-principal: "PT Sans", sans-serif;

    /* Colores Login */
    --color-principal-login: #2c3e50;
    --color-secundario-login: #ffffff;
    --color-terciario-login: #3498db;

    /* Colores App */
    --color-primario: #4361ee;
    --color-secundario: #3f37c9;
    --color-terciario: #26d0ce;
    --texto-claro: #f8f9fa;
    --texto-oscuro: #212529;
    --hover-efecto: rgba(255, 255, 255, 0.2);

    /* Colores mensajes */
    --color-error: red;
}