@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* Fuentes Globales */
    --fuente-principal: "PT Sans", sans-serif;

    /* Colores Globales */
    --color-principal-login: #2c3e50;
    --color-secundario-login: #ffffff;
    --color-terciario-login: #3498db;

    --color-error: #e74c3c;
}